header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/img/fundo4.jpg);  
}


.menu {
    display: flex;
    width: 350px;
    flex-wrap: wrap;      
}


.titulo1{
    height: 30px;
    width: 150px;   
    padding: 25px;
    border: 3px  solid aqua;
    font-size: 22px ;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    border-radius: 6px;

}

.titulo{
    display: flex;
    justify-content: center;
}
.fotos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fotos img{
    max-height: 400px;
    max-width: 450px;
   
}
.texto5{
    text-align: center;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.texto3{
    
    color: aqua;
    
    max-width: 350px;
    font-size: 25px;
    
}


.h1{
   
    border-radius: 8px;
    color: aqua;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid aqua;

}
.obs{
    font-size: 25px;
    padding: 30px;
    color: aqua;    
    text-align: center;
}
.foto{
    width: 300px;
    height: 300px;
    border-radius: 8px;
    border: 3px solid aqua;
}
.menu a{
    width: 85px;
    padding: 10px 20px;
    margin: 10px 20px;
    text-align: center;    
    border: 3px solid aqua;
    text-decoration: none;
    color: aqua ;
    font-size: 20px;
    border-radius: 8px;   
    background-color: rgba(243, 243, 243, 0.247);
}

body {
    background-color: black;
}
p .titulo{
    text-align: center;
}
footer .container { 
    margin: 100px 100px;
    display: flex;
    justify-content: space-around;
}
footer .midias a {
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
    }

footer .midias{
    width: 320px;
    display: flex;
    justify-content: space-evenly;
}
footer .imgfot{
   width: 100px;
    
}        

footer .midias img{
    
    width: 50px;
    
    }
footer .midias a:hover{
    transform: translatey(-25px);
}

.textovideo{
    font-size: 25px;
    border: 5px solid aqua;
}

.mapa iframe{
    height: 800px;
    width : 1000px;
    border: 5px solid aqua;
    border-radius: 20px;
}
.video iframe{
    height: 400px;
    width : 560px;
    border: 5px solid aqua;
    border-radius: 20px;
}

.mapa{
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.formulario{
    background-color: rgb(8, 26, 26);  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aqua;
    width: 700px;
    border: 5px solid aqua;
    border-radius: 15px;

    
}
 fieldset{
     border: 3px solid aqua;
     margin: 10px;
     border-radius: 8px ;
 }

.inputuser{
    text-align: center;
    background: none;
    border: none;
    border-bottom: 1px solid aqua;
    outline: none;
    color: aqua;
    width: 100%;
    letter-spacing: 2px;
}
 legend{
     border: 2px solid aqua;
     padding: 10px;
     text-align: center;
     border-radius: 8px;
 }


.container{
    
    text-align: center;
}
.textomapa{
    padding: 35px;
    color: aqua;
    font-size: 50px;
    
}

.textomapa .p{
    border: 5px solid aqua;
}